$font-base: 'Open Sans', sans-serif;
$font-alt: 'Roboto', sans-serif;

$font: normal 16px/1.55 $font-base;
$font-mainTitle: bold 68px/1.55 $font-alt;
$font-titleAlt: bold 24px/1.55 $font-alt;
$font-title: bold 36px/1.55 $font-alt;
$font-sub: 300 14px/1.55 $font-alt;

$header-height: 40px;

$color-background: #f5f5f5;
$color-accent: #ff8562;


$size-toggleWidth: 28px;
