mixin pagePromo(imageSource, title, subtitle)
  .page-promoHolder
    .page-promo(style={'background-image': `url(${imageSource})`})
    .page-promoText
      h1.page-title= title
      p.page-title.is__subtitle= subtitle
      block
