.brands#brands
  .holder
    h2.content-title Brands I've Worked With
    .brandsList
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/levis.png", alt="Levis")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/adidas.png", alt="Adidas")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/jager.png", alt="Jagermeister")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/jameson.png", alt="Jameson")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/samsung.png", alt="Samsung")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/martini.png", alt="Martini")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/ballantines.png", alt="Ballantines")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/bacardi.png", alt="Bacardi")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/beat.png", alt="Beat")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/miller.png", alt="Miller")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/olmeca.png", alt="Olmeca")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/burn.png", alt="Burn")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/viber.png", alt="Viber")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/captain.png", alt="Captain Morgan")
      .brandsList-item
        img.brandsList-icon(src="assets/images/brands/reebok.png", alt="Reebok")
