footer.footer
  .holder
    ul.pageLinks
      li.pageLinks-item
        a.pageLinks-link(href='../#projects') Projects
      li.pageLinks-item
        a.pageLinks-link(href='https://www.facebook.com/daariadi') Facebook
      li.pageLinks-item
        a.pageLinks-link(href='https://www.instagram.com/daariadi') Instagram
      li.pageLinks-item
        a.pageLinks-link(href='../#contacts') Contacts
      li.pageLinks-item.toToplink
        a.pageLinks-link(href='../#top') Back to top ↑
