header.header
  .header-wrapper
    .holder
      .header-block
        a.header-title(href='/' target=_blank title="Перейти на главную") Daria Denisova
        ul.menu.is__fullScreen
          li.menu-item
            a.menu-link(href='../#bio') Bio
          li.menu-item
            a.menu-link(href='../#work') Work
          li.menu-item
            a.menu-link(href='../#skills') Skills
          li.menu-item
            a.menu-link(href='../#brands') Brands
          li.menu-item
            a.menu-link(href='../#projects') Projects
          li.menu-item
            a.menu-link(href='../#interests') Interests
          li.menu-item
            a.menu-link(href='../#contacts') Contacts
        a.menu-toggleBlock#menuToggleBlock
          .menu-toggle#menuToggle
            span
ul.menu.is__sliding#headerMenu
  li.menu-item
    a.menu-link(href='../#bio') Bio
  li.menu-item
    a.menu-link(href='../#work') Work
  li.menu-item
    a.menu-link(href='../#skills') Skills
  li.menu-item
    a.menu-link(href='../#brands') Brands
  li.menu-item
    a.menu-link(href='../#projects') Projects
  li.menu-item
    a.menu-link(href='../#interests') Interests
  li.menu-item
    a.menu-link(href='../#contacts') Contacts
