.holder
  .interestsArt
    a.interestsArt-item(href='assets/images/art/art1.jpg')
      img.interestsArt-img(src='assets/images/art/art1.jpg')
    a.interestsArt-item(href='assets/images/art/pic326.jpg')
      img.interestsArt-img(src='assets/images/art/pic326.jpg')
    a.interestsArt-item(href='assets/images/art/pic329.jpg')
      img.interestsArt-img(src='assets/images/art/pic329.jpg')
    a.interestsArt-item(href='assets/images/art/pic332.jpg')
      img.interestsArt-img(src='assets/images/art/pic332.jpg')
    a.interestsArt-item(href='assets/images/art/pic336.jpg')
      img.interestsArt-img(src='assets/images/art/pic336.jpg')
    a.interestsArt-item(href='assets/images/art/pic337.jpg')
      img.interestsArt-img(src='assets/images/art/pic337.jpg')
    a.interestsArt-item(href='assets/images/art/pic341.jpg')
      img.interestsArt-img(src='assets/images/art/pic341.jpg')
    a.interestsArt-item(href='assets/images/art/pic346.jpg')
      img.interestsArt-img(src='assets/images/art/pic346.jpg')
    a.interestsArt-item(href='assets/images/art/pic348.jpg')
      img.interestsArt-img(src='assets/images/art/pic348.jpg')
