.holder
  .interestsArt
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/art1.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic326.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic329.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic331.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic332.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic336.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic337.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic341.jpg')
    .interestsArt-item
      img.interestsArt-img(src='assets/images/art/pic346.jpg')
