ul.menu
  li.menu-item
    a.menu-link Bio
  li.menu-item
    a.menu-link Work
  li.menu-item
    a.menu-link Skills
  li.menu-item
    a.menu-link Brands
  li.menu-item
    a.menu-link Projects
  li.menu-item
    a.menu-link Interests
  li.menu-item
    a.menu-link Contacts
