ul.menu#headerMenu
  li.menu-item
    a.menu-link(href='#bio') Bio
  li.menu-item
    a.menu-link(href='#work') Work
  li.menu-item
    a.menu-link(href='#skills') Skills
  li.menu-item
    a.menu-link(href='') Brands
  li.menu-item
    a.menu-link(href='') Projects
  li.menu-item
    a.menu-link(href='') Interests
  li.menu-item
    a.menu-link(href='') Contacts
ul.menu.is__fullScreen
  li.menu-item
    a.menu-link(href='#bio') Bio
  li.menu-item
    a.menu-link(href='#work') Work
  li.menu-item
    a.menu-link(href='#skills') Skills
  li.menu-item
    a.menu-link(href='') Brands
  li.menu-item
    a.menu-link(href='') Projects
  li.menu-item
    a.menu-link(href='') Interests
  li.menu-item
    a.menu-link(href='') Contacts
a.menu-toggleBlock#menuToggleBlock
  .menu-toggle#menuToggle
    span
