.photoGallery.is__diffSized
  .photoGallery-row
    a.photoGallery-link.is__diffSized(href='assets/images/projects/adidas/1stPage/Adidas09.jpg' title='my photo')
      .photoGallery-wrapper
        img.photoGallery-img(src='assets/images/projects/adidas/1stPage/Adidas09.jpg')
    a.photoGallery-link.is__diffSized(href='assets/images/projects/adidas/1stPage/Adidas07.jpg' title='my photo')
      .photoGallery-wrapper
        img.photoGallery-img(src='assets/images/projects/adidas/1stPage/Adidas07.jpg')
  a.photoGallery-link.is__diffSized.is__big(href='assets/images/projects/adidas/1stPage/adidas2.jpg' title='my photo')
    .photoGallery-wrapper
      img.photoGallery-img(src='assets/images/projects/adidas/1stPage/adidas2.jpg')
