.slickHolder
  .slickGallery
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/1.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/2.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/3.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/4.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/5.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/6.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/7.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/8.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/9.jpg')
    .slickGallery-itemBox
      img.slickGallery-item(src='assets/images/projects/adidas/photos/10.jpg')
