extends layouts/project

include mixins/pagePromo.pug

block content
  .main#top
    +pagePromo('assets/images/projects/adidas/background.jpg', 'Adidas Moscow Flagship Store Launch & Afterparty')
    .holder
      .page-description.with__columnedTitles
        h3.page-subTitle Store Launch
        .page-textBlock
          p.page-text We opened the first Flagship store for Adidas Originals here in Russia. Our task was to develop interior design for the new store. We were inspired by the Soviet realist art movement of the 1920s-60s.
          p.page-text Part of our mission was to design and organise the production of bespoke furniture and decorations for the store, ranging from sofas to a giant satellite hanging from the ceiling!
          p.page-text For the campaign we collaborated with four Moscow artists who produced art inspired by the new limited edition Gazzelle 'Moskva' collection.
      .page-description.with__columnedTitles
        h3.page-subTitle My Role
        .page-textBlock
          p.page-text I managed the production of the entire project, including setting up the grand opening event, including project budgeting, timings and personnel managment.
          p.page-text On the opening night we invited trendsetters and opinion leaders who work with Adidas. We organised online translation with our media parther Afisha Daily.
    include partials/pageGallery-adidas1.pug
    .holder
      .page-description.with__columnedTitles
        h3.page-subTitle Afterparty
        .page-textBlock
          p.page-text To provide wider entertainment for Adidas fans we orginized an afterparty event located in one of Moscow's premier evening venues, Krugozor.
          p.page-text More then 1,500 people came to celebrate the opening of the new store with us! We collaborated with UBER to deliver our VIP guests straight from the store to the party.
          p.page-text At the venue we organised two stages, alongside a host of other bars and exhibits. UK Grime legend KANO headlined, supported by a range of local electronic artists.
      .page-description.with__columnedTitles
        h3.page-subTitle My Role
        .page-textBlock
          p.page-text Within my role as an event producer I was managing whole project, starting from decoration and production (working with decorators and 3D designers), configuring the lineup, technical equipment (stage design, sound and lighting), artists riders, organization of entrance (Control wristbands, guards), organisation of the VIP zone alongside general project budgeting.
          p.page-text For the event we produced a big UGS object, which replicated one of the shopwindows from the Flagship's store (see photos below). All the decorations were a contunuation of our main concept - Soviet Realism.
    include partials/pageGallery__single__adidas.pug
    .holder
      .pagePress
        img.pagePress-item(src='assets/images/projects/adidas/clipping/Screen Shot 2017-05-30 at 15.25.20.png')
        img.pagePress-item.is__top(src='assets/images/projects/adidas/clipping/Screen Shot 2017-05-30 at 15.26.32.png')
        img.pagePress-item(src='assets/images/projects/adidas/clipping/Screen Shot 2017-05-30 at 15.27.07.png')
