extends layouts/project

include mixins/pagePromo.pug
include mixins/photoGallery-item_alt.pug

block content
  .main
    .promo#top
      +pagePromo('assets/images/projects/AMS1/photos/a9.jpg', 'AMS1', 'launch party')
    .holder
      .page-textHolder
        .page-description.is__centered
          .page-textBlock
            p.page-text <strong>The AMS1 launch party</strong> was designed to present <strong>Servers.com's</strong> new data centre in Amsterdam to their clients. The party was held in an empty hall of a warehouse next to the datacentre.
            p.page-text More then 150 people from all over the world were invited to this private event. All guests were welcomed with a special welcome drink. Later on, food was served along with variety of free cocktails, spirits and other drinks.
            p.page-text In order to entertain guests a charity casino was organised. All winnings from the various games were donated to a charity chose by the company. Alongside the casino, guests could participate in the themed games created specially for the event.
            p.page-text And of course, there is no great party without a DJ! <strong>OMMA</strong>, a Russian DJ based in Paris, opened our evening with electronic tunes. She was followed by <strong>Oliver Weiter</strong>, the Dutch DJ inspired by the infamous music of Amsterdam underground parties, putting on a spectacular set blending minimal tech and house. 
      .pageBanner
        img.pageBanner-item.is__wide(src='assets/images/projects/AMS1/zoning.jpg')
      .slickHolder
        .slickGallery
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/1.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/2.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/3.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/4.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/5.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/6.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/7.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/8.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/9.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/10.jpg')
          .slickGallery-itemBox
            img.slickGallery-item(src='assets/images/projects/AMS1/renders/11.jpg')
    .photoGallery.is__grid.is__ams
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a1.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a2.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a3.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a4.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a5.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a6.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a7.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a8.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a9.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a10.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a11.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a12.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a13.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a14.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a15.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a16.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a17.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a18.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a19.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a20.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a21.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a22.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a23.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a24.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a25.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a26.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a27.jpg', 'with__paddings')
      +photoGallery-item_alt('assets/images/projects/AMS1/photos/a28.jpg', 'with__paddings')
