extends layouts/default

block content
  .portfolio#bio
    div(class="portfolio-banner" style={'background-image': 'url(assets/images/000071180031.jpg)'})
      h1.portfolio-title portfolio
    .portfolio-content
      .portfolioBlock
        .holder
          h2.portfolioBlock-name Daria Denisova
          span.portfolioBlock-comment Event Producer
          p.portfolioBlock-text I'm 26 years old and have been working in creative and events agencies since I graduated from university in 2013.
          p.portfolioBlock-text I've worked in a number of roles, starting out as an assistant to a project manager before going on to manage projects myself. I currently work for <a class="portfolioBlock-link portfolioBlock-link__inline" href="https://www.facebook.com/STEREOTACTICMOSCOW/">STEREOTACTIC</a>, a major creative and event production agency here in Moscow.
          .portfolioBlock-contacts
            p.portfolioBlock-text Contact me:
              a.portfolioBlock-link.portfolioBlock-link__phone(href='tel:+7 967 290 8418') +7 967 290 8418
              a.portfolioBlock-link.portfolioBlock-link__email(href='mailto:daaria.me@gmail.com') daaria.me@gmail.com
      .portfolioBlock.portfolioBlock__photo
  .work#work
    .holder
      .work-titleBlock
        h2.content-title.is__special My Work
        p.work-subTitle In my role as an event producer <br>I work with clients on a wide variety of productions
      .workList
        .workList-item
          .workList-title Launch Nights
          .workList-text Designed for the specific purpose of creating awareness and publicity for a particular product or brand.
        .workList-item
          .workList-title Festivals
          .workList-text Built around special events, such as musical performances, food markets and sports competitions.
        .workList-item
          .workList-title Promotional Parties
          .workList-text Promoting & revitalising products or brands, bringing people together for performances exciting networking opprtunities.
        .workList-item
          .workList-title Store Openings
          .workList-text Grand launches for new shops, outlets and flagship stores, usually accompanied by after parties and in-store entertainment.
  .skills#skills
    .holder
      h2.content-title Skills & Education
      .skillsList
        .skillsList-item
          h3.skillsList-title UNIVERSITY
          p.skillsList-content 2008-2013 <br>MA in Sociology (PR and Marketing) <br>Russian State University of the Humanities, Moscow.
        .skillsList-item
          h3.skillsList-title COMPUTER PROGRAMS
          p.skillsList-content I am proficient in the use of common word and data processing programs (word, excel, google docs, pages, numbers, keynote, powerpoint). I also have experience working with SketchUp and Photoshop. At the moment I am working on my illustrator skills!
        .skillsList-item
          h3.skillsList-title LANGUAGES - RUSSIAN AND ENGLISH
          p.skillsList-content I am a native Russian speaker with an advanced level of English. I spend much of my time communicating with both clients and friends in English.
        .skillsList-item
          h3.skillsList-title DRIVING LICENCE
          p.skillsList-content Full Russian and International Drivers Licence.
  .brands#brands
    .holder
      h2.content-title Brands I've Worked With
      .brandsList
        .brandsList-item
          img.brandsList-icon(src="assets/images/Levis_logo.png", alt="Levis")
        .brandsList-item
          img.brandsList-icon(src="assets/images/Adidas_klassisches_logosvg.png", alt="Adidas")
        .brandsList-item
          img.brandsList-icon(src="assets/images/Jagermeister_logo.png", alt="Jagermeister")
        .brandsList-item
          img.brandsList-icon(src="assets/images/jameson_logo2.jpg", alt="Jameson")
        .brandsList-item
          img.brandsList-icon(src="assets/images/samsung_logo_PNG4.png", alt="Samsung")
        .brandsList-item
          img.brandsList-icon(src="assets/images/mgpagegatelogo.png", alt="Martini")
        .brandsList-item
          img.brandsList-icon(src="assets/images/Ballantines_logosvg.png", alt="Ballantines")
        .brandsList-item
          img.brandsList-icon(src="assets/images/bacardi_logo_detail.png", alt="Bacardi")
        .brandsList-item
          img.brandsList-icon(src="assets/images/beat_logopp.png", alt="Beat")
        .brandsList-item
          img.brandsList-icon(src="assets/images/l52985millerlogo73990.png", alt="Miller")
        .brandsList-item
          img.brandsList-icon(src="assets/images/logoolmeca.jpg", alt="Olmeca")
        .brandsList-item
          img.brandsList-icon(src="assets/images/bbdbd13a4667af0d524f0050a390.png", alt="Burn")
        .brandsList-item
          img.brandsList-icon(src="assets/images/viberlogo.png", alt="Viber")
        .brandsList-item
          img.brandsList-icon(src="assets/images/CaptainMorganlogo.png", alt="Captain Morgan")
        .brandsList-item
          img.brandsList-icon(src="assets/images/5841914ea6515b1e0ad75a4d.png", alt="Reebok")
  .projects#projects
    h2.content-title Projects
    .projectsList
      .projectsItem
        a.projectsItem-link(href='#') Adidas Moscow Flagship Store Launch & Afterparty
        .projectsItem-bg(style={'background-image': 'url(assets/images/adidas-page.jpg)'})
      .projectsItem
        a.projectsItem-link(href='#') Jameson Irish Hood
        .projectsItem-bg(style={'background-image': 'url(assets/images/jameson-page.jpg)'})
      .projectsItem
        a.projectsItem-link(href='#') Jagermeister Indie Awards
        .projectsItem-bg(style={'background-image': 'url(assets/images/OUT_5403.jpg)'})
      .projectsItem
        a.projectsItem-link(href='#') Tuborg Green Jam
        .projectsItem-bg(style={'background-image': 'url(assets/images/160813183942.jpg)'})
      .projectsItem
        a.projectsItem-link(href='#') Olmeca Rise&Shine Tour
        .projectsItem-bg(style={'background-image': 'url(assets/images/_VCH1014.jpg)'})
      .projectsItem
        a.projectsItem-link(href='#') Samsung Galaxy S8|S8+
        .projectsItem-bg(style={'background-image': 'url(assets/images/kv_galaxys8_unbox_phone_l.jpg)'})
  .interesets#interesets
    h2.content-title Interests
    .interestsBlock
      h3.interests-title Photography
      p.interests-subtitle I love film photography and take my cameras everywhere i go!
      include partials/photoGallery.pug
