extends layouts/default

include mixins/pagePromo.pug

block content
  .main
    .promo#top
      +pagePromo('assets/images/projects/jager/background.jpg', 'Jagermeister Indie Awards')
    .holder
      .page-textHolder
        .page-description.is__columned
          .page-textBlock
            p.page-text JIA is an annual International Music Award sponsered by Jagermeister. Open to everyone and with nine different genre categories, this award is an opprtunity for the bright new lights in music to put themselves out there.
            p.page-text In 2016 we organised a big party to announce the winners, award prizes and watch some great live acts. We had a great evening, with over 2500 people coming to see the awards and dance to the Ghanain singer ATA KAK and american hip-hop artist Azizi Gibson.
        .page-description.is__columned
          h3.page-subTitle My Role
          .page-textBlock
            p.page-text As an event producer my first responsobility was general project budgeting. Also, I organised and managed the event realization teams: creative, technical, directors and project managers team. Working on execution of the project itself, I was in control of the set up and take down, and numerous supporting roles of contractors. It was a busy role, but everything worked out well and our team put on a successful evening.
      .pageVideo-block
        iframe.pageVideo(src="https://www.youtube.com/embed/JW2lqcuqacs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
      .pageBanner.is__single
        img.pageBanner-item(src='assets/images/projects/jager/1stPage/1.png')
      .pageGallery.photoGallery
        a.photoGallery-link(href='assets/images/projects/jager/photo/1.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/1.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/2.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/2.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/3.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/3.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/4.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/4.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/5.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/5.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/6.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/6.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/7.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/7.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/8.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/8.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/9.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/9.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/10.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/10.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/11.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/11.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/12.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/12.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/13.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/13.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/14.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/14.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/15.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/15.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/16.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/16.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/17.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/17.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/18.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/18.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/19.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/19.jpg')
        a.photoGallery-link(href='assets/images/projects/jager/photo/20.jpg')
          .photoGallery-wrapper
            img.photoGallery-img(src='assets/images/projects/jager/photo/20.jpg')

