extends layouts/default

include mixins/slickGallery-item.pug
include mixins/pagePromo.pug

block content
  .main
    .promo#top
      +pagePromo('assets/images/projects/jameson/background_both.jpg', 'Jameson Irish Hood 2016')
    .holder
      .page-textHolder
        .page-description.is__columned
          .page-textBlock
            p.page-text Every year in Moscow, Jameson throws a big party with free bars, cool music and load of other entertainment. Irish Hood 2016 was Jameson's most successful to date, with 2,500 people attending.
            p.page-text As both creative and production agency for this project, we created a concept for the party celebrating St. Patrick's day here in Moscow. The Main idea was to re-create an Irish street in a warehouse in one of the popular art districts in the city. We called it "Green street".
            p.page-text We partnered with five of Moscow's most popular restaurants to diversify the food and drinks during the evening, giving the experience of going into different shops and bars to sample their products.
            p.page-text We had incredible performances from Motor Drum Machine Ensemble (US) with a DJ set on the clover stage and Theophilus London (UK) with live show in the "Ugolek" space. All in all, fun was had by everyone!
        .page-description.is__columned
          h3.page-subTitle My Role
          .page-textBlock
            p.page-text For this project I was in charge of decoration for the entire venue. Working with a team of dercorators, 3D designers and a creative producer, we worked hard to come up with a unifying theme for the whole venue, something that fit with the aesthetic of the street. This was my biggest decoration project to date, and I am really pleased with how it all came out.
            p.page-text Within my role I also did the general budgeting of decoration project, finding and working with DIY and production contractors, general control of the set up and set down, and a closing client report.
    .holder
      .pageVideo-block
        iframe.pageVideo(src="https://www.youtube.com/embed/7kKfvvoAGP4?rel=0" frameborder="0" allowfullscreen)
      .pageBanner
        img.pageBanner-item(src='assets/images/projects/jameson/1stPage/52512665.jpg')
        img.pageBanner-item.is__wide(src='assets/images/projects/jameson/1stPage/Screen Shot 2017-06-09 at 09.47.44.png')
      .pageGallery
        .slickHolder
          .slickGallery
            +slickGallery-itemBox('assets/images/projects/jameson/photo/1.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/2.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/3.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/4.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/5.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/6.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/7.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/8.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/9.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/10.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/11.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/12.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/13.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/14.jpg')
            +slickGallery-itemBox('assets/images/projects/jameson/photo/15.jpg')
        .pagePress.is__long
          img.pagePress-item.is__little(src='assets/images/projects/jameson/clipping/1.png')
          img.pagePress-item.is__little.is__top(src='assets/images/projects/jameson/clipping/2.png')
          img.pagePress-item.is__little.is__highTop(src='assets/images/projects/jameson/clipping/3.png')
          img.pagePress-item.is__little.is__top(src='assets/images/projects/jameson/clipping/4.png')
