extends layouts/project

include mixins/pagePromo.pug
include mixins/pagePromo.pug

block content
  .main
    .promo#top
      +pagePromo('assets/images/projects/ors/background_both.jpg', 'Olmeca Rise&Shine Tour')
    .holder
      .page-textHolder
        .page-description.is__columned
          .page-textBlock
            p.page-text The Olmeca Rise&Shine tour was a series of daytime parties held in Moscow and Saint-Petersburg. One of the main goals of the campaign was to change people's associations about Tequila as a nightime drink, so we came up with an idea to throw a relaxed daytime party with good music, delicious food and specially designed cocktails.
        .page-description.is__columned
          h3.page-subTitle My Role
          .page-textBlock
            p.page-text I was called in at a late stage of this project as the organisers were having problems with the event execution. In a short period of time I managed to produce the whole decoration project, promo materials and also set up various brand activations.
            p.page-text I planned and managed the partnership with a famous Russian bartender who designed a special cocktail menu. We also collaborated with a popular local bar to produce a mexican-themed food menu.
            p.page-text One week later the same event took place in St. Petersburg, where I organised the logistics for our decoration tool kit and again found local bartenders and restaurants to collaborate with.
    .pageGallery-holder
      .pageGallery-item
        h2.page-altTitle Moscow
        .pageGallery.photoGallery
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/1.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/1.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/2.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/2.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/3.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/3.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/4.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/4.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/5.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/5.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/6.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/6.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/7.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/7.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/8.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/8.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/9.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/9.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/10.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/10.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/11.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/11.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsMoscow/12.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsMoscow/12.jpg')
      .pageGallery-item
        h2.page-altTitle Saint Peterburg
        .pageGallery.photoGallery
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/1.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/1.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/2.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/2.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/3.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/3.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/4.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/4.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/5.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/5.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/6.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/6.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/7.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/7.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/8.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/8.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/9.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/9.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/10.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/10.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/11.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/11.jpg')
          a.photoGallery-link(href='assets/images/projects/ors/orsSPB/12.jpg')
            .photoGallery-wrapper
              img.photoGallery-img.is__hovered(src='assets/images/projects/ors/orsSPB/12.jpg')
