.main
  .promo
  .page-title Olmeca Rise&Shine Tour
  .page-description
    .page-text The Olmeca Rise&Shine tour was a series of daytime parties held in Moscow and Saint-Petersburg. One of the main goals of the campaign was to change people's associations about Tequila as a nightime drink, so we came up with an idea to throw a relaxed daytime party with good music, delicious food and specially designed cocktails.

  .page-description
    .page-subTitle My Role
    .page-text I was called in at a late stage of this project as the organisers were having problems with the event execution. In a short period of time I managed to produce the whole decoration project, promo materials and also set up various brand activations.<br>I planned and managed the partnership with a famous Russian bartender who designed a special cocktail menu. We also collaborated with a popular local bar to produce a mexican-themed food menu.<br>One week later the same event took place in St. Petersburg, where I organised the logistics for our decoration tool kit and again found local bartenders and restaurants to collaborate with.
  .page-altTitle Moscow
  .page-gallery
  .page-altTitle Saint Peterburg
  .page-gallery
  .page-links
    .page-link Projects
    .page-link Facebook
    .page-link Instagram
    .page-link Contacts
