extends layouts/project

include mixins/pagePromo.pug

block content
  .main.is__colored
    .promo#top
      +pagePromo('assets/images/projects/samsung/background_in.jpg', 'Samsung Galaxy S8|S8+', 'launch evening')
    .holder
      .page-textHolder
        .page-description.is__columned
          .page-textBlock
            p.page-text The Samsung Galaxy S8 launch event took place on the top floor of The Ritz Carlton Hotel in the center of Moscow.To present the new phone to a Russian audience we produced 360-degree video, highlighting the new features of the phone.
            p.page-text The official part of the evening was an immersive show with a live presentation by the SEO of Samsung Russia. After the show all guests were offered cocktails and food prepared by famous Russian chefs and Bartenders.
        .page-description.is__columned
          .page-textBlock
            p.page-text Within this project I worked with decorators and décor contractors. We created a bespoke decoration project which was based on Samsung guidelines and represented the 'Unbox your phone' concept.
            p.page-text To demonstrate the new 'Infinity screen' feature of the phone we placed brandwall outside with beautiful view of the Moscow Kremlin, so guests could take photos with an amazing backdrop.
      .pageGallery.photoGallery
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/1.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/1.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/2.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/2.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/3.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/3.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/4.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/4.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/5.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/5.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/6.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/6.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/7.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/7.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/8.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/8.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/9.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/9.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/10.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/10.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/11.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/11.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/12.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/12.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/13.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/13.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/14.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/14.jpg')
        a.photoGallery-link.is__diffSizedAlt(href='assets/images/projects/samsung/photos/15.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/samsung/photos/15.jpg')
