extends layouts/project

include mixins/pagePromo.pug
include mixins/photoGallery-item_alt.pug

block content
  .main
    .promo#top
      +pagePromo('assets/images/projects/TBRG2018/32.jpg', 'TBRG OPEN FEST')
    .holder
      .page-textHolder
        .page-description.is__centered
          .page-textBlock
            p.page-text <strong>TBRG OPEN FEST</strong> was held on the site of the Russian Cable Industry Institute, inside a huge hall previously used for electrical experiments. The creative idea of the festival was realised through zones which were inspired by influential eras of music history. So, on the way to the main stage our guest would have walked through an art-deco bar, an 80's broadcast zone with a stop at the 90's Factory floor stage! This second stage was inspired by rave aesthetics, industrialism and street culture of the decade. English grime Mc <strong>Aj Tracey</strong> headlined along with Russian hip-hop artists.
            p.page-text For the first time ever <strong>MAJOR LAZER</strong> and Russian Rap artist <strong>Skriptonit</strong> debuted their collaborative track. This track was a result of a year-long work based on the <strong>TBGR OPEN platform</strong>. 
            p.page-text Electronic english duo Mount Kimbie played a stunning Dj-set and provocative Estonian rapper Tommy Cash performed on the main stage, alongside numerous other acts. 
            p.page-text This one-day festival was attended by more then <strong>5000 people</strong>, and brought together good music, skate competitions, art installations and delicious food. 
      .pageVideo-block
        iframe.pageVideo(src="https://www.youtube.com/embed/7N15FXFHzcE" frameborder="0" allow="encrypted-media" allowfullscreen)
      .pageBanner
        img.pageBanner-item.is__wide(src='assets/images/projects/TBRG2018/TBRGOPENFEST map.jpg')
      .pageGallery.photoGallery.is__grid
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/1.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/2.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/3.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/4.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/5.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/6.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/7.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/8.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/9.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/10.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/11.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/12.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/13.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/14.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/15.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/16.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/17.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/18.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/19.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/20.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/21.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/22.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/23.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/24.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/25.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/26.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/27.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/28.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/29.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/30.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/31.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/32.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/33.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/34.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/35.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/36.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/37.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/38.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/39.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/40.jpg', 'with__paddings')
        +photoGallery-item_alt('assets/images/projects/TBRG2018/photos/41.jpg', 'with__paddings')

