.main
  .promo
  .page-title Tuborg Green Jam
  .page-description
    .page-text The Tuborg Green Jam was a one-day summer festival held in an old Soviet priniting warehouse in central Moscow. Our mission with this project was to enchance Tuborg's brand image amongst young people.<br>We came up with an idea that this festival shouldn't only be about music. We set up a campaign that involved local food, fashion brands, sports clubs and businesses, creating a place where you could meet interesting people, eat nice food, listen to cool music and just relax. Festivals are still quite a new thing in Russia, so we think we opened a lot of eyes with this event.<br>We organised two stages. With fantastic performances by Earl Sweatshirt (US) and Just Blaze (alongside others) on the main stage and a huge lineup of up and coming Russian DJs on the local stage, the atmosphere was electric.<br>To build the brand communication we organised brand different activation zones. You could print yourself a t-shirt for posting a photo on Instagram or participate in skate contest and win some cash!
  .page-description
    .page-subTitle My Role
    .page-text I was working on the production and realisation of three of the festival zones.<br>The first of these was a T-shirt factory where people could design and print a T-shirts. My task was to find and work with local printmakers, build the zone itself and find graffiti artists who painted the zone in branded graffitti.<br>The 'Green Jam' zone was a place where anyone could come and jam with musicians from the local Glinka School of Music. I managed the partnership with the school and the construction and running of the zone itself, budgeting and working with in-house and external contractors. I also created a 'Streetball zone', a three-on-three basketball court where people could come for a quick game.

  .page-banner
  .page-gallery
  .page-video (https://www.youtube.com/watch?time_continue=6&v=huqln5f10hk)
  .page-press
  .page-links
    .page-link Projects
    .page-link Facebook
    .page-link Instagram
    .page-link Contacts
