extends layouts/default

include mixins/pagePromo.pug

block content
  .main
    .promo#top
      +pagePromo('assets/images/projects/tuborg/background_both.jpg', 'Tuborg Green Jam')
    .holder
      .page-textHolder
        .page-description.is__columned
          .page-textBlock
            p.page-text The Tuborg Green Jam was a one-day summer festival held in an old Soviet priniting warehouse in central Moscow. Our mission with this project was to enchance Tuborg's brand image amongst young people.
            p.page-text We came up with an idea that this festival shouldn't only be about music. We set up a campaign that involved local food, fashion brands, sports clubs and businesses, creating a place where you could meet interesting people, eat nice food, listen to cool music and just relax. Festivals are still quite a new thing in Russia, so we think we opened a lot of eyes with this event.
            p.page-text We organised two stages. With fantastic performances by Earl Sweatshirt (US) and Just Blaze (alongside others) on the main stage and a huge lineup of up and coming Russian DJs on the local stage, the atmosphere was electric.
            p.page-text To build the brand communication we organised brand different activation zones. You could print yourself a t-shirt for posting a photo on Instagram or participate in skate contest and win some cash!
        .page-description.is__columned
          h3.page-subTitle My Role
          .page-textBlock
            p.page-text I was working on the production and realisation of three of the festival zones.
            p.page-text The first of these was a T-shirt factory where people could design and print a T-shirts. My task was to find and work with local printmakers, build the zone itself and find graffiti artists who painted the zone in branded graffitti.
            p.page-text The 'Green Jam' zone was a place where anyone could come and jam with musicians from the local Glinka School of Music. I managed the partnership with the school and the construction and running of the zone itself, budgeting and working with in-house and external contractors. I also created a 'Streetball zone', a three-on-three basketball court where people could come for a quick game.
      .pageBanner
        img.pageBanner-item(src='assets/images/projects/tuborg/1stPage/1.jpg')
        img.pageBanner-item.is__wide(src='assets/images/projects/tuborg/1stPage/2.png')
      .pageGallery.photoGallery
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/1.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/1.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/2.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/2.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/3.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/3.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/4.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/4.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/5.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/5.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/6.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/6.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/7.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/7.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/8.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/8.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/9.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/9.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/10.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/10.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/11.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/11.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/12.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/12.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/13.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/13.jpg')
        a.photoGallery-link.is__diffSized(href='assets/images/projects/tuborg/photos/14.jpg')
          .photoGallery-wrapper
            img.photoGallery-img.with__paddings(src='assets/images/projects/tuborg/photos/14.jpg')
      .pageVideo-block
        iframe.pageVideo(src="https://www.youtube.com/embed/huqln5f10hk?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen)
      .pagePress.is__long
          img.pagePress-item.is__little(src='assets/images/projects/tuborg/clipping/1.png')
          img.pagePress-item.is__little.is__top(src='assets/images/projects/tuborg/clipping/2.png')
          img.pagePress-item.is__little.is__highTop(src='assets/images/projects/tuborg/clipping/3.png')
          img.pagePress-item.is__little.is__top(src='assets/images/projects/tuborg/clipping/5.png')

