<!DOCTYPE html>
html
head
  meta(charset="UTF-8")
  title Daaria

  link(rel="stylesheet", href="assets/styles/app.css")
body
  include ../partials/header.pug

  block content
  include ../partials/footer.pug
  script(src="assets/scripts/app.js")
