<!DOCTYPE html>
html
head
  meta(charset="UTF-8")
  title Daaria

  link(rel="stylesheet", href="assets/styles/app.css")
  link(rel="stylesheet", href="assets/slick/slick.css")
  link(rel="stylesheet", href="assets/slick/slick-theme.css")
  script(src="https://use.fontawesome.com/60e6c049f5.js")
body
  include ../partials/header.pug

  block content
  include ../partials/footer.pug
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src="assets/scripts/vendor/magnific.js")
  //- script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js")
  script(type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
  script(src="assets/slick/slick.min.js")
  script(src="assets/scripts/app.js")
