.brandsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  flex-row: row;
}

.brandsList-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.brandsList-icon {
  width: 160px;
  vertical-align: center;
}
