.brandsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  flex-row: row;
}

.brandsList-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.brandsList-icon {
  width: 120px;
  vertical-align: center;

  @mixin respond-to medium {
    width: 160px;
  }
}
