.contacts {
  margin: 0 auto 100px;
}

.contactsBLock-link {
  display: block;
  margin: 0;
  width: fit-content;
  text-align: left;
  text-decoration: none;
  color: $color-accent;

  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
    color: $color-accent;
  }

  &.is__phone {
    display: block;
    color: inherit;
  }

  &.is__email {
    display: block;
  }

  .contacts & {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
}
