.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

.header-block {
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
}

.header-title {
  font: normal 16px $font-alt;
}


