.interests-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font: $font-title;
  font-size: 30px;
  text-align: center;
}

.interests-subtitle {
  margin: 0;
  padding: 0;
  font: $font-sub;
  font-size: 18px;
  text-align: center;
}
