.skillsList {
  padding: 0 10%;
  width: 100%;
  font: $font;

  @mixin respond-to medium {
    padding: 0 20%;
  }
}

.skillsList-item {
  margin-bottom: 20px;
}

.skillsList-title,
.skillsList-content {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
