.socialBlock {
  margin-top: 25px;
  text-align: center;
}

.socialBlock-link {
  display: inline-block;
  margin: 0 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: black;

  & i {
    line-height: 48px;
    text-align: center;
    color: white;
  }
}
