.works {
  padding-top: 110px;
  padding-bottom: 60px;
  text-align: center;
}

.works-title {
  margin-top: 0;
  margin-bottom: 30px;
  font: $font-title;
}

.works-subTitle {
  margin: 0;
  font: normal 18px/1.55 $font-base;
  letter-spacing: 1px;
}
